In [1]:
#Imports
import pandas as pd

#Data File
df = pd.read_excel('list_of_molecules.xlsx',sheet_name="Sheet1")

In [2]:
cmpnd_ID_CCGPAS = pd.Series([6465811, 6465862, 4904716, 1625114, 5979340, 1626992, 13948510, 16516920, 7362061, 50234527, 6445209, 6445201, 4940966, 15449328, 55430903, 13948493, 7357848, 1628178, 8521467, 4874169, 4872638, 21499377, 4887284, 7362064, 5980337, 1629229, 1627158, 5981705, 44997382, 1619749, 4236218, 5981014, 5979714, 4929405, 14179921, 4928901, 34308841, 7161559, 4877395, 7361114])

In [3]:
cmpnd_ID_df1 = pd.Series([18879263, 7361114, 8375113, 4873610, 4904716, 5979340, 1626992, 7362061, 46780364, 1619232, 50234527, 22603288, 55430903, 8521467, 1628178, 4872638, 21499377, 7362064, 1629229, 5981705, 4240239, 1626734, 1621816, 8516257, 4876361, 1629388, 4898818, 44657117, 9655979, 8521417, 44997382, 6465811, 6465862, 7362069, 1625114, 13948510, 16516920, 7364237, 6445209, 15449328])

In [4]:
df_CCGPAS = df.loc[df['COMPOUND_ID'].isin(cmpnd_ID_CCGPAS)]

In [5]:
df_CCGPAS = df_CCGPAS[['Cluster', 'COMPOUND_ID']]

In [6]:
len(df_CCGPAS)

40

In [7]:
len(cmpnd_ID_CCGPAS)

40

In [8]:
df_CCGPAS['df1 y/n'] = df_CCGPAS['COMPOUND_ID'].isin(cmpnd_ID_df1)

In [9]:
df_score = pd.read_excel('CCGPAS score.xlsx')

In [10]:
df_score

    COMPOUND_ID    AR  NVLTY_CMPLXITY
0       6465811  0.50            0.25
1       6465862  1.00            0.25
2       4904716  0.50            0.25
3       1625114  0.50            0.00
4       5979340  0.50            0.00
5       1626992  0.75            0.00
6      13948510  1.00            0.00
7      16516920  1.00            0.00
8       7362061  0.50            0.00
9      50234527  1.00            0.50
10      6445209  0.50            0.00
11      6445201  0.50            0.25
12      4940966  0.25            0.00
13     15449328  0.50            0.00
14     55430903  1.00            0.00
15     13948493  1.00            0.00
16      7357848  0.75            0.00
17      1628178  1.00            0.00
18      8521467  0.50            0.00
19      4874169  0.50            0.00
20      4872638  0.50            0.00
21     21499377  1.00            0.00
22      4887284  0.50            0.00
23      7362064  0.50            0.25
24      5980337  0.25            0.50
25      1629229  0.25            0.00
26      1627158  0.25            0.00
27      5981705  0.25            0.00
28     44997382  0.50            0.00
29      1619749  1.25            0.00
30      4236218  0.25            0.50
31      5981014  0.25            0.50
32      5979714  0.50            0.25
33      4929405  0.25            0.00
34     14179921  0.75            0.00
35      4928901  0.75            0.00
36     34308841  0.25            0.00
37      7161559  0.75            0.25
38      4877395  0.50            0.25
39      7361114  1.25            0.00

In [11]:
df_CCGPAS

     Cluster  COMPOUND_ID  df1 y/n
18        17      6465811     True
58        24      6465862     True
69        24      4904716     True
73        26      1625114     True
76        26      5979340     True
79        27      1626992     True
118       29     13948510     True
119       29     16516920     True
130       29      7362061     True
163       33     50234527     True
166       34      6445209     True
167       34      6445201    False
169       34      4940966    False
170       35     15449328     True
173       35     13948493    False
174       35      7357848    False
178       35     55430903     True
184       36      1628178     True
186       36      8521467     True
187       36      4874169    False
188       36      4872638     True
189       36     21499377     True
190       36      4887284    False
197       37      5980337    False
198       38      7362064     True
199       39      1627158    False
200       39      1629229     True
201       39      5981705     True
208       42     14179921    False
214       42      4929405    False
228       44      4236218    False
229       44      5981014    False
234       48      5979714    False
241        6      1619749    False
242        6     44997382     True
245        6      7361114     True
246        6      7161559    False
247        6      4928901    False
253        6     34308841    False
255        6      4877395    False

In [12]:
df_CCGPAS_score = df_CCGPAS.merge(df_score, on='COMPOUND_ID')

In [13]:
df_CCGPAS_score['df1 y/n'] = df_CCGPAS_score['df1 y/n'].astype(int)

In [14]:
df_CCGPAS_score['sum_score'] = df_CCGPAS_score['df1 y/n'] + df_CCGPAS_score['AR'] + df_CCGPAS_score['NVLTY_CMPLXITY']

In [15]:
df_CCGPAS_score = df_CCGPAS_score.sort_values(by=['sum_score'], ascending=False)

In [16]:
df_CCGPAS_score = df_CCGPAS_score.reset_index()

In [17]:
df_CCGPAS_score = df_CCGPAS_score.drop(columns=['index'])

In [18]:
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  NVLTY_CMPLXITY  sum_score
0        33     50234527        1  1.00            0.50       2.50
1         6      7361114        1  1.25            0.00       2.25
2        24      6465862        1  1.00            0.25       2.25
3        35     55430903        1  1.00            0.00       2.00
4        29     13948510        1  1.00            0.00       2.00
5        29     16516920        1  1.00            0.00       2.00
6        36     21499377        1  1.00            0.00       2.00
7        36      1628178        1  1.00            0.00       2.00
8        17      6465811        1  0.50            0.25       1.75
9        24      4904716        1  0.50            0.25       1.75
10       27      1626992        1  0.75            0.00       1.75
11       38      7362064        1  0.50            0.25       1.75
12        6     44997382        1  0.50            0.00       1.50
13       36      8521467        1  0.50            0.00       1.50
14       36      4872638        1  0.50            0.00       1.50
15       35     15449328        1  0.50            0.00       1.50
16       26      1625114        1  0.50            0.00       1.50
17       34      6445209        1  0.50            0.00       1.50
18       26      5979340        1  0.50            0.00       1.50
19       29      7362061        1  0.50            0.00       1.50
20       39      5981705        1  0.25            0.00       1.25
21        6      1619749        0  1.25            0.00       1.25
22       39      1629229        1  0.25            0.00       1.25
23        6      7161559        0  0.75            0.25       1.00
24       35     13948493        0  1.00            0.00       1.00
25       44      4236218        0  0.25            0.50       0.75
26        6      4928901        0  0.75            0.00       0.75
27       48      5979714        0  0.50            0.25       0.75
28       44      5981014        0  0.25            0.50       0.75
29       35      7357848        0  0.75            0.00       0.75
30       42     14179921        0  0.75            0.00       0.75
31       37      5980337        0  0.25            0.50       0.75
32       34      6445201        0  0.50            0.25       0.75
33        6      4877395        0  0.50            0.25       0.75
34       36      4887284        0  0.50            0.00       0.50
35       36      4874169        0  0.50            0.00       0.50
36       42      4929405        0  0.25            0.00       0.25
37       39      1627158        0  0.25            0.00       0.25
38       34      4940966        0  0.25            0.00       0.25
39        6     34308841        0  0.25            0.00       0.25

Deleting the compound 6465862 which is SB

In [19]:
df_CCGPAS_score = df_CCGPAS_score.drop([2])

In [20]:
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  NVLTY_CMPLXITY  sum_score
0        33     50234527        1  1.00            0.50       2.50
1         6      7361114        1  1.25            0.00       2.25
3        35     55430903        1  1.00            0.00       2.00
4        29     13948510        1  1.00            0.00       2.00
5        29     16516920        1  1.00            0.00       2.00
6        36     21499377        1  1.00            0.00       2.00
7        36      1628178        1  1.00            0.00       2.00
8        17      6465811        1  0.50            0.25       1.75
9        24      4904716        1  0.50            0.25       1.75
10       27      1626992        1  0.75            0.00       1.75
11       38      7362064        1  0.50            0.25       1.75
12        6     44997382        1  0.50            0.00       1.50
13       36      8521467        1  0.50            0.00       1.50
14       36      4872638        1  0.50            0.00       1.50
15       35     15449328        1  0.50            0.00       1.50
16       26      1625114        1  0.50            0.00       1.50
17       34      6445209        1  0.50            0.00       1.50
18       26      5979340        1  0.50            0.00       1.50
19       29      7362061        1  0.50            0.00       1.50
20       39      5981705        1  0.25            0.00       1.25
21        6      1619749        0  1.25            0.00       1.25
22       39      1629229        1  0.25            0.00       1.25
23        6      7161559        0  0.75            0.25       1.00
24       35     13948493        0  1.00            0.00       1.00
25       44      4236218        0  0.25            0.50       0.75
26        6      4928901        0  0.75            0.00       0.75
27       48      5979714        0  0.50            0.25       0.75
28       44      5981014        0  0.25            0.50       0.75
29       35      7357848        0  0.75            0.00       0.75
30       42     14179921        0  0.75            0.00       0.75
31       37      5980337        0  0.25            0.50       0.75
32       34      6445201        0  0.50            0.25       0.75
33        6      4877395        0  0.50            0.25       0.75
34       36      4887284        0  0.50            0.00       0.50
35       36      4874169        0  0.50            0.00       0.50
36       42      4929405        0  0.25            0.00       0.25
37       39      1627158        0  0.25            0.00       0.25
38       34      4940966        0  0.25            0.00       0.25
39        6     34308841        0  0.25            0.00       0.25

Deleting the novelty/complexity column after the meeting with Gil and Amrutha

In [21]:
df_CCGPAS_score = df_CCGPAS_score.drop(['NVLTY_CMPLXITY'], axis=1)

In [22]:
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  sum_score
0        33     50234527        1  1.00       2.50
1         6      7361114        1  1.25       2.25
3        35     55430903        1  1.00       2.00
4        29     13948510        1  1.00       2.00
5        29     16516920        1  1.00       2.00
6        36     21499377        1  1.00       2.00
7        36      1628178        1  1.00       2.00
8        17      6465811        1  0.50       1.75
9        24      4904716        1  0.50       1.75
10       27      1626992        1  0.75       1.75
11       38      7362064        1  0.50       1.75
12        6     44997382        1  0.50       1.50
13       36      8521467        1  0.50       1.50
14       36      4872638        1  0.50       1.50
15       35     15449328        1  0.50       1.50
16       26      1625114        1  0.50       1.50
17       34      6445209        1  0.50       1.50
18       26      5979340        1  0.50       1.50
19       29      7362061        1  0.50       1.50
20       39      5981705        1  0.25       1.25
21        6      1619749        0  1.25       1.25
22       39      1629229        1  0.25       1.25
23        6      7161559        0  0.75       1.00
24       35     13948493        0  1.00       1.00
25       44      4236218        0  0.25       0.75
26        6      4928901        0  0.75       0.75
27       48      5979714        0  0.50       0.75
28       44      5981014        0  0.25       0.75
29       35      7357848        0  0.75       0.75
30       42     14179921        0  0.75       0.75
31       37      5980337        0  0.25       0.75
32       34      6445201        0  0.50       0.75
33        6      4877395        0  0.50       0.75
34       36      4887284        0  0.50       0.50
35       36      4874169        0  0.50       0.50
36       42      4929405        0  0.25       0.25
37       39      1627158        0  0.25       0.25
38       34      4940966        0  0.25       0.25
39        6     34308841        0  0.25       0.25

In [23]:
df_CCGPAS_score['sum_score'] = df_CCGPAS_score['df1 y/n'] + df_CCGPAS_score['AR']

In [24]:
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  sum_score
0        33     50234527        1  1.00       2.00
1         6      7361114        1  1.25       2.25
3        35     55430903        1  1.00       2.00
4        29     13948510        1  1.00       2.00
5        29     16516920        1  1.00       2.00
6        36     21499377        1  1.00       2.00
7        36      1628178        1  1.00       2.00
8        17      6465811        1  0.50       1.50
9        24      4904716        1  0.50       1.50
10       27      1626992        1  0.75       1.75
11       38      7362064        1  0.50       1.50
12        6     44997382        1  0.50       1.50
13       36      8521467        1  0.50       1.50
14       36      4872638        1  0.50       1.50
15       35     15449328        1  0.50       1.50
16       26      1625114        1  0.50       1.50
17       34      6445209        1  0.50       1.50
18       26      5979340        1  0.50       1.50
19       29      7362061        1  0.50       1.50
20       39      5981705        1  0.25       1.25
21        6      1619749        0  1.25       1.25
22       39      1629229        1  0.25       1.25
23        6      7161559        0  0.75       0.75
24       35     13948493        0  1.00       1.00
25       44      4236218        0  0.25       0.25
26        6      4928901        0  0.75       0.75
27       48      5979714        0  0.50       0.50
28       44      5981014        0  0.25       0.25
29       35      7357848        0  0.75       0.75
30       42     14179921        0  0.75       0.75
31       37      5980337        0  0.25       0.25
32       34      6445201        0  0.50       0.50
33        6      4877395        0  0.50       0.50
34       36      4887284        0  0.50       0.50
35       36      4874169        0  0.50       0.50
36       42      4929405        0  0.25       0.25
37       39      1627158        0  0.25       0.25
38       34      4940966        0  0.25       0.25
39        6     34308841        0  0.25       0.25

In [25]:
df_CCGPAS_score = df_CCGPAS_score.sort_values(by=['sum_score'], ascending=False)

In [26]:
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  sum_score
1         6      7361114        1  1.25       2.25
5        29     16516920        1  1.00       2.00
7        36      1628178        1  1.00       2.00
6        36     21499377        1  1.00       2.00
0        33     50234527        1  1.00       2.00
4        29     13948510        1  1.00       2.00
3        35     55430903        1  1.00       2.00
10       27      1626992        1  0.75       1.75
8        17      6465811        1  0.50       1.50
9        24      4904716        1  0.50       1.50
12        6     44997382        1  0.50       1.50
13       36      8521467        1  0.50       1.50
14       36      4872638        1  0.50       1.50
15       35     15449328        1  0.50       1.50
16       26      1625114        1  0.50       1.50
17       34      6445209        1  0.50       1.50
18       26      5979340        1  0.50       1.50
19       29      7362061        1  0.50       1.50
11       38      7362064        1  0.50       1.50
22       39      1629229        1  0.25       1.25
20       39      5981705        1  0.25       1.25
21        6      1619749        0  1.25       1.25
24       35     13948493        0  1.00       1.00
26        6      4928901        0  0.75       0.75
29       35      7357848        0  0.75       0.75
30       42     14179921        0  0.75       0.75
23        6      7161559        0  0.75       0.75
27       48      5979714        0  0.50       0.50
32       34      6445201        0  0.50       0.50
33        6      4877395        0  0.50       0.50
34       36      4887284        0  0.50       0.50
35       36      4874169        0  0.50       0.50
36       42      4929405        0  0.25       0.25
38       34      4940966        0  0.25       0.25
37       39      1627158        0  0.25       0.25
31       37      5980337        0  0.25       0.25
28       44      5981014        0  0.25       0.25
25       44      4236218        0  0.25       0.25
39        6     34308841        0  0.25       0.25

In [27]:
df_CCGPAS_score = df_CCGPAS_score.reset_index()
df_CCGPAS_score = df_CCGPAS_score.drop(columns=['index'])
df_CCGPAS_score

    Cluster  COMPOUND_ID  df1 y/n    AR  sum_score
0         6      7361114        1  1.25       2.25
1        29     16516920        1  1.00       2.00
2        36      1628178        1  1.00       2.00
3        36     21499377        1  1.00       2.00
4        33     50234527        1  1.00       2.00
5        29     13948510        1  1.00       2.00
6        35     55430903        1  1.00       2.00
7        27      1626992        1  0.75       1.75
8        17      6465811        1  0.50       1.50
9        24      4904716        1  0.50       1.50
10        6     44997382        1  0.50       1.50
11       36      8521467        1  0.50       1.50
12       36      4872638        1  0.50       1.50
13       35     15449328        1  0.50       1.50
14       26      1625114        1  0.50       1.50
15       34      6445209        1  0.50       1.50
16       26      5979340        1  0.50       1.50
17       29      7362061        1  0.50       1.50
18       38      7362064        1  0.50       1.50
19       39      1629229        1  0.25       1.25
20       39      5981705        1  0.25       1.25
21        6      1619749        0  1.25       1.25
22       35     13948493        0  1.00       1.00
23        6      4928901        0  0.75       0.75
24       35      7357848        0  0.75       0.75
25       42     14179921        0  0.75       0.75
26        6      7161559        0  0.75       0.75
27       48      5979714        0  0.50       0.50
28       34      6445201        0  0.50       0.50
29        6      4877395        0  0.50       0.50
30       36      4887284        0  0.50       0.50
31       36      4874169        0  0.50       0.50
32       42      4929405        0  0.25       0.25
33       34      4940966        0  0.25       0.25
34       39      1627158        0  0.25       0.25
35       37      5980337        0  0.25       0.25
36       44      5981014        0  0.25       0.25
37       44      4236218        0  0.25       0.25
38        6     34308841        0  0.25       0.25